<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid px-0">


    <section id="services">
        <div class="container">
            <div class="row" data-aos="fade-up">
                <div class="col-md-12">
                    <h3 class="section-title">Admin Place</h3>
                    <div class="section-title-divider"></div>
                    <p class="section-description">Here You can work in safety place. Enjoy!</p>
                </div>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-4 col-md-6 service-item">
                    <div class="service-icon"><i class="bi bi-briefcase"></i></div>
                    <h4 class="service-title"><a th:href="@{/users/allUsers}">View All Users</a></h4>
                    <p class="service-description">Here You can see all users!</p>
                </div>
                <div class="col-lg-4 col-md-6 service-item">
                    <div class="service-icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="service-title"><a th:href="@{/teams/allOwnerTeams}">View All teams</a></h4>
                    <p class="service-description">Here you can see all the teams</p>
                </div>
                <div class="col-lg-4 col-md-6 service-item">
                    <div class="service-icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="service-title"><a th:href="@{/teams/allItemsByUser}">View All Items</a></h4>
                    <p class="service-description">Here You can see all working items</p>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->


</div>
</body>
</html>